.annotation {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  .message {
    margin-bottom: 50px;
    text-align: left;
  }

  .categories {
    list-style-type: none;
    text-align: left;
    font-size: 1.5rem;

    > li {
      padding: 5px 10px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #3bb035 !important;
        border-radius: 10px;
      }
    }

    &-selected {
      border: 1px solid #3bb035 !important;
      border-radius: 10px;
    }
  }
}
